@import "tailwindcss";

@config "../tailwind.config.js";

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* @plugin '../styles/hero.ts'; */
/* Note: You may need to change the path to fit your project structure */
/* @source "./node_modules/@heroui/theme/dist/components/(button|snippet|code|input).js"; */
/* @custom-variant dark (&:is(.dark *)); */
